# Hypothesis Testing with Insurance Data

Work with the US Health Insurance Dataset (1) from Kaggle (2).

(1)
https://docs.google.com/spreadsheets/d/e/2PACX-1vQBN8DPW2rdiRrY34eEM53HAzakNGSRrw4ogI-j8HyCUrbqTB_z4CeIn2IvjLF-w_6sOe5pIlypJGAA/pub?output=csv

(2)
https://www.kaggle.com/teertha/ushealthinsurancedataset

Answer the following questions:

- Q1. Do smokers have higher insurance charges than non-smokers?
- Q2. Are men more likely to smoke than women?
- Q3. Do different regions have different charges, on average?

For each question, make sure to:

1. State your Null Hypothesis and Alternative Hypothesis
2. Select the correct test according to the data type and number of samples
3. Test the assumptions of your selected test.
4. Execute the selected test, or the alternative test (if you do not meet the assumptions)
5. Interpret your p-value and reject or fail to reject your null hypothesis 
6. Show a supporting visualization that helps display the result

# 1. Preliminary Steps

In [2]:
# imports
import pandas as pd

In [3]:
# load data
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQBN8DPW2rdiRrY34eEM53HAzakNGSRrw4ogI-j8HyCUrbqTB_z4CeIn2IvjLF-w_6sOe5pIlypJGAA/pub?output=csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

# 2. Do smokers have higher insurance charges than non-smokers?

## 2.1 Hypotheses

Null:

Alternative:

## 2.2 Select Test

Test:

Reason:

## 2.3 Test Assumptions

## 2.4 Execute Test

## 2.5 p-value Interpretation

## 2.6 Supporting Visualization

# 3. Are men more likely to smoke than women?

## 3.1 Hypotheses

Null:

Alternative:

## 3.2 Select Test

Test:

Reason:

## 3.3 Test Assumptions

## 3.4 Execute Test

## 3.5 p-value Interpretation

## 3.6 Supporting Visualization

# 4. Do different regions have different charges, on average?

## 4.1 Hypotheses

Null:

Alternative:

## 4.2 Select Test

Test:

Reason:

## 4.3 Test Assumptions

## 4.4 Execute Test

## 4.5 p-value Interpretation

## 4.6 Supporting Visualization